@import url(./fonts/stylesheet.css);

*{padding: 0; margin:0; border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height: 100%;width: 100%;font-size: 100%;line-height: 1;font-size: 14px;-ms-text-size-adjust: 100%;-moz-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;}
input,button,textarea{font-family: inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding: 0;border: 0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size: inherit;font-weight: inherit;}

body {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  background: linear-gradient(#2C2C2C 40%, #ffffff);
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  background: #ffffff;
}

.header {
  background: #2C2C2C;
}

.header--content {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
}

.header--avatar {
  width: 200px;
  height: 200px;
  background-image: linear-gradient(to right top, #3a0f88, #7ef7ce);
  background-origin: border-box; 
  border: 12px solid transparent; 
  border-radius: 50%;  
}

h1 {
  font-size: 60px;
  font-weight: 700;
  color: #ffffff;
  text-transform: capitalize;
}

.text-profession {
  display: inline-block;
  font-size: 30px;
  font-weight: 700;
  background: linear-gradient(to top right, #7ef7ce 26%, #6a1aff);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #3a0f88;
}

.header--contaсts a {
  font-size: 30px;
  font-weight: 500;
  color: #ffffff;
}

.icon-email {
   width: 40px;
  margin-right: 13px;
}

.icon-socs {
  width: 60px;
  margin-left: 25px;
}